body {
    margin: 0;
    max-height: 100vh;
}

.invalidInput .form_input {
    border: 3px solid #bb2929;
}

.invalidInput .validationIcon {
    color: #bb2929;
    opacity: 1;
}

.validInput .validationIcon {
    color: #1ed12d;
    opacity: 1;
}

.validInput .errorText {
    display: none;
}

.validInput .form_input {
    border: 3px solid #1ed12d;
}

.validationIcon {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.inputGroup {
    position: relative;
}

.errorText {
    color: #bb2929;
    display: none;
}

img {
    max-height: 65%;
}

header,
footer {
    background: #ff5f6d;
    background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
    background: linear-gradient(to right, #ff5f6d, #ffc371);
}

header {
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

footer {
    border-top-left-radius: 107% 146%;
    border-top-right-radius: 61% 147%;
}

.itemName {
    color: #212529;
}

.textPrice {
    color: #6c757d;
}

a:hover span {
    -webkit-text-fill-color: white;
    -moz-text-fill-color: white;
}

.gradient-text,
a:hover,
.badge:hover {
    /* Fallback: Set a background color. */
    background-color: transparent;
    /* Create the gradient. */
    background-image: linear-gradient(180deg, #ff5f6d, #ffc371);
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.btn:hover,
form .btn {
    /* Fallback: Set a background color. */
    background-color: transparent;
    /* Create the gradient. */
    background-image: linear-gradient(180deg, #ff5f6d, #ffc371);
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    border: none;
}

.card {
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}

.card:hover {
    transform: scale(1.1);
}

.card:hover .textPrice {
    color: #ff5f6d;
    font-weight: bolder;
}

@media (max-width: 576px) {
    *,
     ::after,
     ::before {
        box-sizing: content-box;
    }
}